In [1]:
# Python 2 & 3 Compatibility
from __future__ import print_function, division

# Necessary imports
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
import patsy

import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import RidgeCV
import os
import pickle
%matplotlib inline

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [2]:
with open("apartment_sale.pkl", 'rb') as picklefile: 
    zillow_apartment_df = pickle.load(picklefile)
zillow_apartment_df.head()

,RegionName,City,State,Metro,CountyName,SizeRank,BedSize,Year,Month,Amount
70,98103,Seattle,WA,Seattle,King,71,Studio,2017,01,1457.0
70,98103,Seattle,WA,Seattle,King,71,Studio,2017,02,1482.5
70,98103,Seattle,WA,Seattle,King,71,Studio,2017,03,1275.0
70,98103,Seattle,WA,Seattle,King,71,Studio,2017,04,1385.0
70,98103,Seattle,WA,Seattle,King,71,Studio,2017,05,1595.0

In [3]:
with open("zillow_housing.pkl", 'rb') as picklefile: 
    zillow_housing_df = pickle.load(picklefile)
zillow_housing_df.head()

    RegionID RegionName   StateName SizeRank  Year Month    Amount
17   16037.0    Seattle  Washington       18  2008    03  421300.0
17   16037.0    Seattle  Washington       18  2008    04  424000.0
17   16037.0    Seattle  Washington       18  2008    05  426000.0
17   16037.0    Seattle  Washington       18  2008    06  422900.0
17   16037.0    Seattle  Washington       18  2008    07  414400.0

In [6]:
zillow_apartment_df['BedSize'].value_counts()

1Bedroom    547
Studio      258
3Bedroom     26
Name: BedSize, dtype: int64

In [9]:
zillow_apartment_grouped_df = zillow_apartment_df.groupby(['BedSize', 'Year', 'Month'], as_index=False)['Amount'].agg('mean')
zillow_apartment_grouped_df

      BedSize  Year Month       Amount
0    1Bedroom  2011    08  1475.000000
1    1Bedroom  2011    09  1377.500000
2    1Bedroom  2011    10  1298.750000
3    1Bedroom  2011    11  1282.333333
4    1Bedroom  2011    12  1390.833333
5    1Bedroom  2012    01  1365.000000
6    1Bedroom  2012    02  1416.666667
7    1Bedroom  2012    03  1427.875000
8    1Bedroom  2012    04  1452.875000
9    1Bedroom  2012    05  1431.250000
10   1Bedroom  2012    06  1496.250000
11   1Bedroom  2012    07  1483.750000
12   1Bedroom  2012    08  1476.875000
13   1Bedroom  2012    09  1499.375000
14   1Bedroom  2012    10  1521.875000
15   1Bedroom  2012    11  1506.250000
16   1Bedroom  2012    12  1463.250000
17   1Bedroom  2013    01  1459.375000
18   1Bedroom  2013    02  1492.750000
19   1Bedroom  2013    03  1537.375000
20   1Bedroom  2013    04  1529.375000
21   1Bedroom  2013    05  1556.750000
22   1Bedroom  2013    06  1586.250000
23   1Bedroom  2013    07  1580.625000
24   1Bedroom  2013    08  1609.250000
25   1Bedroom  2013    09  1593.000000
26   1Bedroom  2013    10  1557.375000
27   1Bedroom  2013    11  1548.000000
28   1Bedroom  2013    12  1607.000000
29   1Bedroom  2014    01  1613.600000
..        ...   ...   ...          ...
135    Studio  2015    09  1506.666667
136    Studio  2015    10  1445.500000
137    Studio  2015    11  1420.666667
138    Studio  2015    12  1470.666667
139    Studio  2016    01  1506.166667
140    Studio  2016    02  1445.500000
141    Studio  2016    03  1545.000000
142    Studio  2016    04  1494.500000
143    Studio  2016    05  1511.666667
144    Studio  2016    06  1526.000000
145    Studio  2016    07  1490.500000
146    Studio  2016    08  1540.666667
147    Studio  2016    09  1547.666667
148    Studio  2016    10  1479.500000
149    Studio  2016    11  1508.666667
150    Studio  2016    12  1410.750000
151    Studio  2017    01  1488.500000
152    Studio  2017    02  1477.785714
153    Studio  2017    03  1535.611111
154    Studio  2017    04  1564.388889
155    Studio  2017    05  1622.555556
156    Studio  2017    06  1645.055556
157    Studio  2017    07  1604.777778
158    Studio  2017    08  1610.888889
159    Studio  2017    09  1560.333333
160    Studio  2017    10  1534.333333
161    Studio  2017    11  1507.777778
162    Studio  2017    12  1493.888889
163    Studio  2018    01  1536.500000
164    Studio  2018    02  1507.666667

[165 rows x 4 columns]