In [4]:
# Python 2 & 3 Compatibility
from __future__ import print_function, division

# Necessary imports
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
import patsy

import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import RidgeCV
%matplotlib inline

In [12]:
#import data
google_trend_term = ['rent', 'Seattlehousing', 'seattleApartment']
dataset = [None]*len(google_trend_term)
for index, term in enumerate(google_trend_term):
    print(term)
    dataset[index]=pd.read_csv('data/multiTimeline-{0}.csv'.format(term), header=None)
dataset

rent
Seattlehousing
seattleApartment

[              0   1
 0    2013-04-21  73
 1    2013-04-28  79
 2    2013-05-05  67
 3    2013-05-12  68
 4    2013-05-19  70
 5    2013-05-26  65
 6    2013-06-02  65
 7    2013-06-09  71
 8    2013-06-16  70
 9    2013-06-23  78
 10   2013-06-30  62
 11   2013-07-07  75
 12   2013-07-14  93
 13   2013-07-21  78
 14   2013-07-28  89
 15   2013-08-04  86
 16   2013-08-11  67
 17   2013-08-18  63
 18   2013-08-25  67
 19   2013-09-01  68
 20   2013-09-08  59
 21   2013-09-15  53
 22   2013-09-22  60
 23   2013-09-29  54
 24   2013-10-06  55
 25   2013-10-13  54
 26   2013-10-20  64
 27   2013-10-27  42
 28   2013-11-03  60
 29   2013-11-10  55
 ..          ...  ..
 231  2017-09-24  57
 232  2017-10-01  67
 233  2017-10-08  53
 234  2017-10-15  65
 235  2017-10-22  54
 236  2017-10-29  53
 237  2017-11-05  67
 238  2017-11-12  52
 239  2017-11-19  49
 240  2017-11-26  51
 241  2017-12-03  59
 242  2017-12-10  51
 243  2017-12-17  50
 244  2017-12-24  55
 245  2017-12-31  60
 246  2018-01-07  53
 247  2018-01-14  64
 248  2018-01-21  64
 249  2018-01-28  63
 250  2018-02-04  63
 251  2018-02-11  53
 252  2018-02-18  68
 253  2018-02-25  66
 254  2018-03-04  63
 255  2018-03-11  55
 256  2018-03-18  62
 257  2018-03-25  65
 258  2018-04-01  74
 259  2018-04-08  62
 260  2018-04-15  52

 [261 rows x 2 columns],               0   1
 0    2013-04-21  58
 1    2013-04-28  64
 2    2013-05-05  62
 3    2013-05-12  48
 4    2013-05-19  52
 5    2013-05-26  52
 6    2013-06-02  80
 7    2013-06-09  50
 8    2013-06-16  54
 9    2013-06-23  44
 10   2013-06-30  45
 11   2013-07-07  44
 12   2013-07-14  60
 13   2013-07-21  37
 14   2013-07-28  50
 15   2013-08-04  56
 16   2013-08-11  42
 17   2013-08-18  52
 18   2013-08-25  47
 19   2013-09-01  57
 20   2013-09-08  54
 21   2013-09-15  29
 22   2013-09-22  39
 23   2013-09-29  55
 24   2013-10-06  53
 25   2013-10-13  44
 26   2013-10-20  51
 27   2013-10-27  51
 28   2013-11-03  39
 29   2013-11-10  44
 ..          ...  ..
 231  2017-09-24  51
 232  2017-10-01  62
 233  2017-10-08  48
 234  2017-10-15  53
 235  2017-10-22  45
 236  2017-10-29  51
 237  2017-11-05  66
 238  2017-11-12  49
 239  2017-11-19  34
 240  2017-11-26  83
 241  2017-12-03  59
 242  2017-12-10  43
 243  2017-12-17  38
 244  2017-12-24  40
 245  2017-12-31  53
 246  2018-01-07  61
 247  2018-01-14  60
 248  2018-01-21  67
 249  2018-01-28  44
 250  2018-02-04  54
 251  2018-02-11  48
 252  2018-02-18  44
 253  2018-02-25  57
 254  2018-03-04  69
 255  2018-03-11  54
 256  2018-03-18  54
 257  2018-03-25  59
 258  2018-04-01  71
 259  2018-04-08  77
 260  2018-04-15  42

 [261 rows x 2 columns],               0   1
 0    2013-04-21  93
 1    2013-04-28  64
 2    2013-05-05  58
 3    2013-05-12  81
 4    2013-05-19  54
 5    2013-05-26  60
 6    2013-06-02  58
 7    2013-06-09  61
 8    2013-06-16  51
 9    2013-06-23  71
 10   2013-06-30  63
 11   2013-07-07  81
 12   2013-07-14  81
 13   2013-07-21  75
 14   2013-07-28  53
 15   2013-08-04  74
 16   2013-08-11  80
 17   2013-08-18  56
 18   2013-08-25  79
 19   2013-09-01  52
 20   2013-09-08  68
 21   2013-09-15  55
 22   2013-09-22  61
 23   2013-09-29  46
 24   2013-10-06  37
 25   2013-10-13  55
 26   2013-10-20  44
 27   2013-10-27  44
 28   2013-11-03  68
 29   2013-11-10  56
 ..          ...  ..
 231  2017-09-24  66
 232  2017-10-01  64
 233  2017-10-08  54
 234  2017-10-15  57
 235  2017-10-22  69
 236  2017-10-29  60
 237  2017-11-05  67
 238  2017-11-12  67
 239  2017-11-19  47
 240  2017-11-26  48
 241  2017-12-03  51
 242  2017-12-10  54
 243  2017-12-17  40
 244  2017-12-24  38
 245  2017-12-31  72
 246  2018-01-07  59
 247  2018-01-14  64
 248  2018-01-21  60
 249  2018-01-28  58
 250  2018-02-04  59
 251  2018-02-11  52
 252  2018-02-18  56
 253  2018-02-25  47
 254  2018-03-04  54
 255  2018-03-11  57
 256  2018-03-18  56
 257  2018-03-25  55
 258  2018-04-01  66
 259  2018-04-08  64
 260  2018-04-15  77

 [261 rows x 2 columns]]