In [13]:
# Python 2 & 3 Compatibility
from __future__ import print_function, division

# Necessary imports
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
import patsy

import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import RidgeCV
%matplotlib inline

In [15]:
#import data
google_trend_term = ['SeattleRent', 'SeattleHousing', 'seattleApartment']
dataset = [None]*len(google_trend_term)
for index, term in enumerate(google_trend_term):
    print(term)
    dataset[index]=pd.read_csv('data//GoogleTrend/multiTimeline-{0}.csv'.format(term), header=None)
dataset

SeattleRent
SeattleHousing
seattleApartment

[           0    1
 0    2004-01  100
 1    2004-02   60
 2    2004-03   50
 3    2004-04   70
 4    2004-05   58
 5    2004-06   71
 6    2004-07   77
 7    2004-08   91
 8    2004-09   58
 9    2004-10   46
 10   2004-11   68
 11   2004-12   37
 12   2005-01   53
 13   2005-02   45
 14   2005-03   63
 15   2005-04   62
 16   2005-05   52
 17   2005-06   57
 18   2005-07   73
 19   2005-08   63
 20   2005-09   54
 21   2005-10   44
 22   2005-11   49
 23   2005-12   50
 24   2006-01   63
 25   2006-02   55
 26   2006-03   50
 27   2006-04   48
 28   2006-05   50
 29   2006-06   55
 ..       ...  ...
 142  2015-11   34
 143  2015-12   31
 144  2016-01   41
 145  2016-02   41
 146  2016-03   42
 147  2016-04   43
 148  2016-05   42
 149  2016-06   47
 150  2016-07   44
 151  2016-08   48
 152  2016-09   38
 153  2016-10   36
 154  2016-11   33
 155  2016-12   33
 156  2017-01   42
 157  2017-02   48
 158  2017-03   42
 159  2017-04   41
 160  2017-05   42
 161  2017-06   48
 162  2017-07   49
 163  2017-08   43
 164  2017-09   43
 165  2017-10   35
 166  2017-11   33
 167  2017-12   31
 168  2018-01   39
 169  2018-02   38
 170  2018-03   38
 171  2018-04   40

 [172 rows x 2 columns],            0    1
 0    2004-01   80
 1    2004-02   55
 2    2004-03   64
 3    2004-04   82
 4    2004-05   74
 5    2004-06  100
 6    2004-07   80
 7    2004-08   72
 8    2004-09   61
 9    2004-10   68
 10   2004-11   37
 11   2004-12   65
 12   2005-01   55
 13   2005-02   43
 14   2005-03   84
 15   2005-04   52
 16   2005-05   59
 17   2005-06   63
 18   2005-07   78
 19   2005-08   63
 20   2005-09   63
 21   2005-10   68
 22   2005-11   68
 23   2005-12   60
 24   2006-01   60
 25   2006-02   66
 26   2006-03   62
 27   2006-04   74
 28   2006-05   73
 29   2006-06   73
 ..       ...  ...
 142  2015-11   22
 143  2015-12   23
 144  2016-01   23
 145  2016-02   24
 146  2016-03   28
 147  2016-04   28
 148  2016-05   28
 149  2016-06   25
 150  2016-07   29
 151  2016-08   30
 152  2016-09   25
 153  2016-10   24
 154  2016-11   23
 155  2016-12   24
 156  2017-01   27
 157  2017-02   34
 158  2017-03   29
 159  2017-04   29
 160  2017-05   28
 161  2017-06   29
 162  2017-07   31
 163  2017-08   30
 164  2017-09   27
 165  2017-10   27
 166  2017-11   25
 167  2017-12   23
 168  2018-01   24
 169  2018-02   25
 170  2018-03   31
 171  2018-04   32

 [172 rows x 2 columns],            0    1
 0    2004-01   58
 1    2004-02   51
 2    2004-03   50
 3    2004-04   71
 4    2004-05   73
 5    2004-06   59
 6    2004-07   71
 7    2004-08   82
 8    2004-09   60
 9    2004-10   57
 10   2004-11   39
 11   2004-12   43
 12   2005-01   52
 13   2005-02   43
 14   2005-03   76
 15   2005-04   62
 16   2005-05   62
 17   2005-06   66
 18   2005-07  100
 19   2005-08   71
 20   2005-09   46
 21   2005-10   49
 22   2005-11   47
 23   2005-12   33
 24   2006-01   55
 25   2006-02   44
 26   2006-03   58
 27   2006-04   74
 28   2006-05   50
 29   2006-06   65
 ..       ...  ...
 142  2015-11   18
 143  2015-12   20
 144  2016-01   23
 145  2016-02   26
 146  2016-03   23
 147  2016-04   27
 148  2016-05   26
 149  2016-06   26
 150  2016-07   26
 151  2016-08   25
 152  2016-09   23
 153  2016-10   22
 154  2016-11   19
 155  2016-12   20
 156  2017-01   28
 157  2017-02   22
 158  2017-03   25
 159  2017-04   28
 160  2017-05   29
 161  2017-06   27
 162  2017-07   28
 163  2017-08   26
 164  2017-09   23
 165  2017-10   24
 166  2017-11   21
 167  2017-12   18
 168  2018-01   23
 169  2018-02   23
 170  2018-03   23
 171  2018-04   26

 [172 rows x 2 columns]]